adfv2/pipeline/Copy to S3.json
{
	"name": "Copy to S3",
	"properties": {
		"activities": [
			{
				"name": "Start Durable Function No Time Out",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/DurableFunctionOrchestrator?file_name=testimage.png",
					"method": "GET",
					"body": {
						"file_name": "testrb.txt"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy data from Azure Storage to AWS S3",
				"description": "VNET integration and Azure Function MI are used to authenticate to Azure Storage, AWS key id and key are used to authenticate to S3",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Start Durable Function No Time Out",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Start Durable Function No Time Out').output.statusQueryGetUri",
						"type": "Expression"
					},
					"method": "GET"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-11-06T15:11:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}